:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
body{
  background-color: navy;
}
#app{
  background-color: white;
}

.barberContainer{
  width:84px;
  height:306px;
  position:absolute;
  top:50%;
  left:93%;
  transform:translate(-50%,-50%);
}

.ball{
  height:22px;
	width:22px;
	margin-left:31px;
	margin-right:31px;
  border-radius:100px;
	background-color:#fefbe3;
}

.endCap{
	width:54px;
	height:15px;
	margin-left:15px;
	margin-right:15px;
	margin-top:5px;
	margin-bottom:5px;
	background-color:#fefbe3;
}

.cap{
	width:84px;
	height:15px;
	background-color:#fefbe3;
}

.barberWrap{
	height:172px;
	width:54px;
	margin-top:5px;
	margin-bottom:5px;
	margin-left:15px;
  margin-right:15px;
}

.barber{
	height:172px;
	width:54px;
	position: inherit;
	background:#fefbe3;
	background-color: -webkit-linear-gradient(-45deg, transparent 25%, #fefbe3 25%, #fefbe3 50%, transparent 50%, transparent 75%, #fefbe3 75%);
	background: -moz-linear-gradient(-45deg, transparent 25%, #fefbe3 25%, #fefbe3 50%, transparent 50%, transparent 75%, #fefbe3 75%);
	background: -o-linear-gradient(-45deg, transparent 25%, #fefbe3 25%, #fefbe3 50%, transparent 50%, transparent 75%, #fefbe3 75%);
	background: linear-gradient(-45deg, transparent 25%, #fefbe3 25%, #fefbe3 50%, transparent 50%, transparent 75%, #fefbe3 75%);
	background-size: 27px 27px;
	-webkit-animation: barberpole 1.5s infinite linear;
  animation: barberpole 1.5s infinite linear;
}

@-webkit-keyframes barberpole {
		from {background-position: 0%;}
		to {background-position: 100%;}
}


.barberContainerr{
  width:84px;
  height:306px;
  position:absolute;
  top:50%;
  left:7%;
  transform:translate(-50%,-50%);
}

.balll{
  height:22px;
	width:22px;
	margin-left:31px;
	margin-right:31px;
  border-radius:100px;
	background-color:#fefbe3;
}

.endCapp{
	width:54px;
	height:15px;
	margin-left:15px;
	margin-right:15px;
	margin-top:5px;
	margin-bottom:5px;
	background-color:#fefbe3;
}

.capp{
	width:84px;
	height:15px;
	background-color:#fefbe3;
}

.barberWrapp{
	height:172px;
	width:54px;
	margin-top:5px;
	margin-bottom:5px;
	margin-left:15px;
  margin-right:15px;
}

.barberr{
	height:172px;
	width:54px;
	position: inherit;
	background:#fefbe3;
	background-color: -webkit-linear-gradient(-45deg, transparent 25%, #fefbe3 25%, #fefbe3 50%, transparent 50%, transparent 75%, #fefbe3 75%);
	background: -moz-linear-gradient(-45deg, transparent 25%, #fefbe3 25%, #fefbe3 50%, transparent 50%, transparent 75%, #fefbe3 75%);
	background: -o-linear-gradient(-45deg, transparent 25%, #fefbe3 25%, #fefbe3 50%, transparent 50%, transparent 75%, #fefbe3 75%);
	background: linear-gradient(-45deg, transparent 25%, #fefbe3 25%, #fefbe3 50%, transparent 50%, transparent 75%, #fefbe3 75%);
	background-size: 27px 27px;
	-webkit-animation: barberpole 1.5s infinite linear;
  animation: barberpole 1.5s infinite linear;
}

@-webkit-keyframes barberpole {
		from {background-position: 0%;}
		to {background-position: 100%;}
}